.register {
  min-height: 100dvh;
  background: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  font-family: "Neucha";
  text-align: center;
  user-select: none;
}

.regContainer {
  min-width: 18.75rem;
}

.regTitle {
  text-align: center;
}

.regForm {
  margin-top: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.1875rem;
}

.inputLabel {
  display: flex;
  flex-direction: column;
}

.validationText {
  color: tomato;
  min-height: 1.25rem;
}

.regInput {
  color: var(--text-color);
  font-size: 1.375rem;
  font-family: "Caveat";
  text-align: center;
  background: none;
  border: none;
  outline: none;
  border-bottom: 0.125rem solid var(--secondary-color);
}

.regInput::placeholder {
  font-family: "Neucha";
}

.passwordShowLabel {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  margin-top: 0.625rem;
  max-width: max-content;
}

.passwordShowCheck {
  display: none;
}

.passwordShowCustomCheck {
  width: 1.25rem;
  height: 1.25rem;
  border: 0.125rem solid var(--text-color);
  border-radius: 0.1875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.passwordShowCheck:checked + .passwordShowCustomCheck {
  background: url(src/assets/check.svg) center no-repeat;
}

.submitBtn {
  color: var(--text-color);
  font-size: 1.375rem;
  font-family: "Neucha";
  background: var(--secondary-color);
  max-width: max-content;
  padding: 0.3125rem 1.25rem;
  margin: 0.625rem auto;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
}

.authLink {
  color: var(--text-color);
  max-width: max-content;
  margin: 0 auto;
}

.registerModalText {
  font-size: 20px;
}

.registerModalBtn {
  color: var(--text-color);
  font-size: 20px;
  font-family: "Neucha";
  width: 100px;
  background: var(--secondary-color);
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  padding: 5px 10px;
  cursor: pointer;
}

@media (max-width: 425px) {
  .regContainer {
    min-width: 12.5rem;
  }
  .regInput {
    font-size: 1.25rem;
  }
}
