body {
  --background-color: #f2f6e9;
  --primary-color: #cdecec;
  --secondary-color: #ffdd83;
  --text-color: #808080;
  --theme-btn-color: #333333;
}

body.dark {
  --background-color: #333333;
  --primary-color: #242423;
  --secondary-color: #2c2f47;
  --text-color: #b9d6f2;
  --theme-btn-color: #f2f6e9;
}
